@import "tailwindcss";

:root {
  --primary-color: #295429;
  --background-color: #ffffff;
  --secondary-color: #f39f5e;
  --highlight-color: #8fd07d;
  --text-color: #ffffff;
  --smooth-color: rgba(0, 0, 0, 0.25);
}

@theme {
  --color-primary: var(--primary-color);
  --color-background: var(--background-color);
  --color-secondary: var(--secondary-color);
  --color-highlight: var(--highlight-color);
  --color-text: var(--text-color);
  --color-smooth: var(--smooth-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background-color);
  font-family: sans-serif;
}
