@import "tailwindcss";

:root {
  --primary-color: #295429;
  --background-color: #ffffff;
  --secondary-color: #f39f5e;
  --highlight-color: #8fd07d;
  --smooth-color: rgba(0, 0, 0, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--primary-color);
  font-family: sans-serif;
}
